<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper:映射器
    1.namespace="": 本文件用来管理namespace所指接口，主要实现接口中声明的方法。
    2.select: 实现一个查询操作。
    3.id: namespace接口中的方法名。
    4.resulttype: 返回的结果类型。如果没有不需要写。
    5.parameterType: 该方法输入的参数类型。
    6.insert: 表示添加。
    7.useGeneratedKeys:返回添加对象的主键
    8.keyProperty:返回值SET属性
    -->
<mapper namespace="cn.kevin.sms.mapper.ScoreMapper">
    <cache eviction="FIFO" readOnly="true" size="512" flushInterval="30000"/>
    <insert id="insert" parameterType="cn.kevin.sms.entity.Score">
        INSERT INTO Score (stuId, subId, subScore, gmtCreate, gmtModify, isReal)
            VALUE (#{stuId}, #{subId}, #{subScore}, #{gmtCreate}, #{gmtModify}, 1)
    </insert>
    <delete id="save">
        DELETE
        FROM Score
        WHERE isReal = 0
    </delete>
    <update id="delete" parameterType="map">
        UPDATE Score
        SET isReal    = 0,
            gmtModify = #{gmtModify}
        WHERE stuId = #{stuId}
          AND subId = #{subId}
    </update>
    <update id="deleteAll" parameterType="map">
        UPDATE Score
        SET isReal    = 0,
            gmtModify = #{gmtModify}
        WHERE stuId = #{stuId}
    </update>
    <update id="update" parameterType="cn.kevin.sms.entity.Score">
        UPDATE Score
        <set>
            <if test="subScore != null and subScore != ''">
                subScore = #{subScore},
            </if>
            <if test="true">
                gmtModify = #{gmtModify},
            </if>
        </set>
        WHERE stuId = #{stuId}
        AND subId = #{subId}
    </update>
    <select id="select" parameterType="map" resultType="cn.kevin.sms.entity.Score">
        SELECT *
        FROM Score
        WHERE stuId = #{stuId}
          AND subId = #{subId}
          AND isReal = 1
    </select>
    <select id="selectAll" resultType="cn.kevin.sms.entity.Score">
        SELECT *
        FROM Score
        WHERE isReal = 1
    </select>
    <select id="selectByAllInfo" parameterType="cn.kevin.sms.entity.Score" resultType="cn.kevin.sms.entity.Score">
        SELECT *
        FROM Score
        WHERE (stuId = #{stuId}
            OR subId = #{subId}
            OR subScore = #{subScore}
            OR gmtCreate = #{gmtCreate}
            OR gmtModify = #{gmtModify})
          AND isReal = 1
    </select>
    <select id="selectPassScore" parameterType="Integer" resultType="cn.kevin.sms.entity.Score">
        SELECT *
        FROM Score
        <where>
            1 = 0
            <if test="subScore lte 100 and subScore gte 0">
                OR (subScore >= #{subScore} AND isReal = 1)
            </if>
        </where>
    </select>
    <select id="getByStudentId" parameterType="Integer" resultType="cn.kevin.sms.entity.Score">
        SELECT *
        FROM Score
        WHERE stuId = #{stuId}
          AND isReal = 1
    </select>
    <select id="selectGarbage" resultType="cn.kevin.sms.entity.Score">
        SELECT *
        FROM Score
        WHERE isReal = 0
    </select>
</mapper>
