<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kevin.ims.mapper.ScoreMapper">
    <cache eviction="FIFO" readOnly="true" size="1024" flushInterval="30000"/>
    <insert id="saveScoreInfo" parameterType="cn.kevin.ims.entity.Score">
        INSERT INTO Score (stuId, subId, subScore, remark,
                           utcCreate, utcModify, modifyBy, valid)
        VALUE (#{stuId}, #{subId}, #{subScore}, #{remark},
               #{utcCreate}, #{utcModify}, #{modifyBy}, 1)
    </insert>
    <delete id="deleteScore">
        DELETE
        FROM Score
        WHERE stuId = #{stuId}
        AND subId = #{subId}
    </delete>
    <update id="disableScore" parameterType="cn.kevin.ims.entity.Score">
        UPDATE Score
        SET valid = 0,
            utcModify = #{utcModify},
            modifyBy = #{modifyBy}
        WHERE stuId = #{stuId}
        AND subId = #{subId}
    </update>
    <update id="recoverScore" parameterType="cn.kevin.ims.entity.Score">
        UPDATE Score
        SET valid = 1,
            utcModify = #{utcModify},
            modifyBy = #{modifyBy}
        WHERE stuId = #{stuId}
          AND subId = #{subId}
    </update>
    <update id="updateScoreInfo" parameterType="cn.kevin.ims.entity.Score">
        UPDATE Score
        <set>
            <if test="subScore != null and subScore != ''">
                subScore = #{subScore},
            </if>
            <if test="true">
                remark = #{remark},
                utcModify = #{utcModify},
                modifyBy = #{modifyBy},
            </if>
        </set>
        WHERE stuId = #{stuId}
        AND subId = #{subId}
    </update>
    <select id="selectAll" parameterType="cn.kevin.ims.entity.Score" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
    </select>
    <select id="selectAnyParam" parameterType="cn.kevin.ims.entity.Score" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
        WHERE (scoId = #{scoId}
        OR stuId = #{stuId}
        OR subId = #{subId}
        OR subScore = #{subScore}
        OR remark = #{remark}
        OR utcCreate = #{utcCreate}
        OR utcModify = #{utcModify}
        OR modifyBy = #{modifyBy}
        OR valid = #{valid})
    </select>
<!--    <select id="selectPassScore" resultType="cn.kevin.ims.entity.Score">-->
<!--        SELECT *-->
<!--        FROM Score-->
<!--        <where>-->
<!--            1 = 0-->
<!--            <if test="subScore lte 100 and subScore gte 0">-->
<!--                OR (subScore >= #{subScore} AND isReal = 1)-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
    <select id="selectByStudentId" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
        WHERE stuId = #{stuId}
    </select>
    <select id="selectBySubjectId" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
        WHERE subId = #{subId}
    </select>
    <select id="selectByStudentAndSubjectId" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
        WHERE stuId = #{stuId}
        AND subId = #{subId}
    </select>
</mapper>
