<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kevin.ims.mapper.ScoreMapper">
    <cache eviction="FIFO" readOnly="true" size="1024" flushInterval="30000"/>
    <insert id="insert" parameterType="cn.kevin.ims.entity.Score">
        INSERT INTO Score (stuId, subId, subScore, utcCreate, utcModify, isReal)
        VALUE (#{stuId}, #{subId}, #{subScore}, #{utcCreate}, #{utcModify}, 1)
    </insert>
    <delete id="save">
        DELETE
        FROM Score
        WHERE isReal = 0
    </delete>
    <update id="delete" parameterType="cn.kevin.ims.entity.Score">
        UPDATE Score
        SET isReal = 0,
        utcModify = #{utcModify}
        WHERE stuId = #{stuId}
        AND subId = #{subId}
    </update>
    <update id="deleteAll" parameterType="cn.kevin.ims.entity.Score">
        UPDATE Score
        SET isReal = 0,
        utcModify = #{utcModify}
        WHERE stuId = #{stuId}
    </update>
    <update id="update" parameterType="cn.kevin.ims.entity.Score">
        UPDATE Score
        <set>
            <if test="subScore != null and subScore != ''">
                subScore = #{subScore},
            </if>
            <if test="true">
                utcModify = #{utcModify},
            </if>
        </set>
        WHERE stuId = #{stuId}
        AND subId = #{subId}
    </update>
    <select id="select" parameterType="cn.kevin.ims.entity.Score" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
        WHERE stuId = #{stuId}
        AND subId = #{subId}
        AND isReal = 1
    </select>
    <select id="selectAll" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
        WHERE isReal = 1
    </select>
    <select id="selectByAllInfo" parameterType="cn.kevin.ims.entity.Score" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
        WHERE (stuId = #{stuId}
        OR subId = #{subId}
        OR subScore = #{subScore}
        OR utcCreate = #{utcCreate}
        OR utcModify = #{utcModify})
        AND isReal = 1
    </select>
    <select id="selectPassScore" parameterType="Integer" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
        <where>
            1 = 0
            <if test="subScore lte 100 and subScore gte 0">
                OR (subScore >= #{subScore} AND isReal = 1)
            </if>
        </where>
    </select>
    <select id="getByStudentId" parameterType="Integer" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
        WHERE stuId = #{stuId}
        AND isReal = 1
    </select>
    <select id="selectGarbage" resultType="cn.kevin.ims.entity.Score">
        SELECT *
        FROM Score
        WHERE isReal = 0
    </select>
</mapper>
