<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kevin.ims.mapper.StudentMapper">
    <cache eviction="FIFO" readOnly="true" size="1024" flushInterval="30000"/>
    <insert id="saveStudentInfo" parameterType="cn.kevin.ims.entity.Student">
        INSERT INTO Student (stuId, stuBirthday, stuPhone, stuEmail, stuGender,
                             stuName, remark, utcCreate, utcModify, modifyBy, valid)
        VALUE (#{stuId}, #{stuBirthday}, #{stuPhone}, #{stuEmail}, #{stuGender}, #{stuName}, #{remark},
               #{utcCreate}, #{utcModify}, #{modifyBy}, 1)
    </insert>
    <delete id="deleteStudent" parameterType="String">
        DELETE
        FROM Student
        WHERE stuId = #{stuId}
    </delete>
    <update id="disableStudent" parameterType="cn.kevin.ims.entity.Student">
        UPDATE Student
        SET valid = 0,
            utcModify = #{utcModify},
            modifyBy = #{modifyBy}
        WHERE stuId = #{stuId}
    </update>
    <update id="recoverStudent" parameterType="cn.kevin.ims.entity.Student">
        UPDATE Student
        SET valid = 1,
            utcModify = #{utcModify},
            modifyBy = #{modifyBy}
        WHERE stuId = #{stuId}
    </update>
    <update id="updateStudentInfo" parameterType="cn.kevin.ims.entity.Student">
        UPDATE Student
        <set>
            <if test="stuBirthday != null">
                stuBirthday = #{stuBirthday},
            </if>
            <if test="stuPhone != null and stuPhone != ''">
                stuPhone = #{stuPhone},
            </if>
            <if test="stuEmail != null and stuEmail != ''">
                stuEmail = #{stuEmail},
            </if>
            <choose>
                <when test="stuGender">
                    stuGender = 1,
                </when>
                <otherwise>
                    stuGender = 0,
                </otherwise>
            </choose>
            <if test="stuName != null and stuName != ''">
                stuName = #{stuName},
            </if>
            <if test="true">
                remark = #{remark},
                utcModify = #{utcModify},
                modifyBy = #{modifyBy},
            </if>
        </set>
        WHERE stuId = #{stuId}
    </update>
    <select id="selectAll" resultType="cn.kevin.ims.entity.Student">
        SELECT *
        FROM Student
    </select>
    <select id="selectAnyParam" parameterType="cn.kevin.ims.entity.Student" resultType="cn.kevin.ims.entity.Student">
        SELECT *
        FROM Student
        WHERE (id = #{id}
        OR stuId = #{stuId}
        OR stuBirthday = #{stuBirthday}
        OR stuPhone = #{stuPhone}
        OR stuEmail = #{stuEmail}
        OR stuGender = #{stuGender}
        OR stuName = #{stuName}
        OR remark = #{remark}
        OR utcCreate = #{utcCreate}
        OR utcModify = #{utcModify})
        OR modifyBy = #{modifyBy}
        OR valid = #{valid})
    </select>
    <select id="selectById" parameterType="String" resultType="cn.kevin.ims.entity.Student">
        SELECT *
        FROM Student
        WHERE stuId = #{stuId}
    </select>
</mapper>
