<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kevin.sms.mapper.SubjectMapper">
    <cache eviction="FIFO" readOnly="true" size="512" flushInterval="30000"/>
    <insert id="insert" parameterType="cn.kevin.sms.entity.Subject">
        INSERT INTO Subject (subId, subName, subTeacherId, subCredit, gmtCreate, gmtModify, isReal)
            VALUE (#{subId}, #{subName}, #{subTeacherId}, #{subCredit}, #{gmtCreate},
                   #{gmtModify}, 1)
    </insert>
    <delete id="save">
        DELETE
        FROM Subject
        WHERE isReal = 0
    </delete>
    <update id="delete" parameterType="cn.kevin.sms.entity.Subject">
        UPDATE Subject
        SET isReal    = 0,
            gmtModify = #{gmtModify}
        WHERE subId = #{subId}
    </update>
    <update id="update" parameterType="cn.kevin.sms.entity.Subject">
        UPDATE Subject
        <set>
            <if test="subName != null and subName != ''">
                subName = #{subName},
            </if>
            <if test="subTeacherId != null and subTeacherId != ''">
                subTeacherId = #{subTeacherId},
            </if>
            <if test="subCredit != null and subCredit != ''">
                subCredit = #{subCredit},
            </if>
            <if test="true">
                gmtModify = #{gmtModify},
            </if>
        </set>
        WHERE subId = #{subId}
    </update>
    <select id="select" parameterType="Integer" resultType="cn.kevin.sms.entity.Subject">
        SELECT *
        FROM Subject
        WHERE subId = #{subId}
          AND isReal = 1
    </select>
    <select id="selectAll" resultType="cn.kevin.sms.entity.Subject">
        SELECT *
        FROM Subject
        WHERE isReal = 1
    </select>
    <select id="selectByAllInfo" parameterType="cn.kevin.sms.entity.Subject" resultType="cn.kevin.sms.entity.Subject">
        SELECT *
        FROM Subject
        WHERE (subId = #{subId}
            OR subName = #{subName}
            OR subTeacherId = #{subTeacherId}
            OR subCredit = #{subCredit}
            OR gmtCreate = #{gmtCreate}
            OR gmtModify = #{gmtModify})
          AND isReal = 1
    </select>
    <select id="selectSimilarName" parameterType="String" resultType="cn.kevin.sms.entity.Subject">
        SELECT *
        FROM Subject
        WHERE subName LIKE '%${value}%'
          AND isReal = 1
    </select>
    <select id="selectGarbage" resultType="cn.kevin.sms.entity.Subject">
        SELECT *
        FROM Subject
        WHERE isReal = 0
    </select>
</mapper>
