<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kevin.ims.dao.SubjectMapper">
    <cache eviction="FIFO" readOnly="true" size="1024" flushInterval="30000"/>
    <insert id="insert" parameterType="cn.kevin.ims.model.Subject">
        INSERT INTO Subject (subId, subName, subTeacherId, subCredit, utcCreate, utcModify, isReal)
        VALUE (#{subId}, #{subName}, #{subTeacherId}, #{subCredit}, #{utcCreate},
        #{utcModify}, 1)
    </insert>
    <delete id="save">
        DELETE
        FROM Subject
        WHERE isReal = 0
    </delete>
    <update id="delete" parameterType="cn.kevin.ims.model.Subject">
        UPDATE Subject
        SET isReal = 0,
        utcModify = #{utcModify}
        WHERE subId = #{subId}
    </update>
    <update id="update" parameterType="cn.kevin.ims.model.Subject">
        UPDATE Subject
        <set>
            <if test="subName != null and subName != ''">
                subName = #{subName},
            </if>
            <if test="subTeacherId != null and subTeacherId != ''">
                subTeacherId = #{subTeacherId},
            </if>
            <if test="subCredit != null and subCredit != ''">
                subCredit = #{subCredit},
            </if>
            <if test="true">
                utcModify = #{utcModify},
            </if>
        </set>
        WHERE subId = #{subId}
    </update>
    <select id="select" parameterType="Integer" resultType="cn.kevin.ims.model.Subject">
        SELECT *
        FROM Subject
        WHERE subId = #{subId}
        AND isReal = 1
    </select>
    <select id="selectAll" resultType="cn.kevin.ims.model.Subject">
        SELECT *
        FROM Subject
        WHERE isReal = 1
    </select>
    <select id="selectByAllInfo" parameterType="cn.kevin.ims.model.Subject" resultType="cn.kevin.ims.model.Subject">
        SELECT *
        FROM Subject
        WHERE (subId = #{subId}
        OR subName = #{subName}
        OR subTeacherId = #{subTeacherId}
        OR subCredit = #{subCredit}
        OR utcCreate = #{utcCreate}
        OR utcModify = #{utcModify})
        AND isReal = 1
    </select>
    <select id="selectSimilarName" parameterType="String" resultType="cn.kevin.ims.model.Subject">
        SELECT *
        FROM Subject
        WHERE subName LIKE '%${value}%'
        AND isReal = 1
    </select>
    <select id="selectGarbage" resultType="cn.kevin.ims.model.Subject">
        SELECT *
        FROM Subject
        WHERE isReal = 0
    </select>
</mapper>
