<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper:映射器
    1.namespace="": 本文件用来管理namespace所指接口，主要实现接口中声明的方法。
    2.select: 实现一个查询操作。
    3.id: namespace接口中的方法名。
    4.resulttype: 返回的结果类型。如果没有不需要写。
    5.parameterType: 该方法输入的参数类型。
    6.insert: 表示添加。
    -->
<mapper namespace="cn.kevin.sms.mapper.SubjectMapper">
    <insert id="insert" parameterType="cn.kevin.sms.entity.Subject">
        INSERT INTO Subject (subId, subName, subTeacherId, subCredit, gmtCreate, gmtModify, isReal)
            VALUE (#{subId}, #{subName}, #{subTeacherId}, #{subCredit}, #{gmtCreate},
                   #{gmtModify}, #{isReal})
    </insert>
    <delete id="save">
        DELETE
        FROM Subject
        WHERE isReal = 0
    </delete>
    <update id="delete" parameterType="map">
        UPDATE Subject
        SET isReal = 0,
        gmtModify = #{gmtModify}
        WHERE subId = #{subId}
    </update>
    <update id="update" parameterType="cn.kevin.sms.entity.Subject">
        UPDATE Subject
        SET subName      = #{subName},
            subTeacherId = #{subTeacherId},
            subCredit    = #{subCredit},
            gmtCreate    = #{gmtCreate},
            gmtModify    = #{gmtModify},
            isReal       = #{isReal}
        WHERE subId = #{subId}
    </update>
    <select id="select" parameterType="Integer" resultType="cn.kevin.sms.entity.Subject">
        SELECT *
        FROM Subject
        WHERE subId = #{subId}
          AND isReal = 1
    </select>
    <select id="selectAll" resultType="cn.kevin.sms.entity.Subject">
        SELECT *
        FROM Subject
        WHERE isReal = 1
    </select>
    <select id="selectByAllInfo" parameterType="cn.kevin.sms.entity.Subject" resultType="cn.kevin.sms.entity.Subject">
        SELECT *
        FROM Subject
        WHERE (subId = #{subId}
           OR subName = #{subName}
           OR subTeacherId = #{subTeacherId}
           OR subCredit = #{subCredit}
           OR gmtCreate = #{gmtCreate}
           OR gmtModify = #{gmtModify})
           AND isReal = 1
    </select>
    <select id="selectSimilarName" parameterType="String" resultType="cn.kevin.sms.entity.Subject">
        SELECT *
        FROM Subject
        WHERE subName LIKE '%${value}%'
          AND isReal = 1
    </select>
    <select id="selectGarbage" resultType="cn.kevin.sms.entity.Subject">
        SELECT *
        FROM Subject
        WHERE isReal = 0
    </select>
</mapper>
