<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kevin.ims.mapper.UserMapper">
    <cache eviction="FIFO" readOnly="true" size="1024" flushInterval="30000"/>
    <resultMap id="BaseSysUserMap" type="cn.kevin.ims.entity.User">
        <result column="usrName" jdbcType="VARCHAR" property="usrName"/>
        <result column="usrPassword" jdbcType="VARCHAR" property="usrPassword"/>
        <result column="usrNick" jdbcType="VARCHAR" property="usrNick"/>
        <result column="usrPhone" jdbcType="VARCHAR" property="usrPhone"/>
        <result column="usrEmail" jdbcType="VARCHAR" property="usrEmail"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="lastLogin" jdbcType="BIGINT" property="lastLogin"/>
        <result column="utcCreate" jdbcType="BIGINT" property="utcCreate"/>
        <result column="utcModify" jdbcType="BIGINT" property="utcModify"/>
        <result column="modifyBy" jdbcType="VARCHAR" property="modifyBy"/>
        <result column="isReal" jdbcType="BIT" property="valid"/>
    </resultMap>
    <insert id="saveUserInfo" parameterType="cn.kevin.ims.entity.User">
        INSERT INTO sys_user (usrName, usrPassword, usrNick, usrPhone, usrEmail, remark, utcCreate, utcModify, modifyBy, valid)
        VALUE (#{usrName}, #{usrPassword}, #{usrNick}, #{usrPhone}, #{usrEmail}, #{remark}, #{utcCreate}, #{utcModify}, #{modifyBy}, 1)
    </insert>
    <delete id="deleteUser" parameterType="String">
        DELETE
        FROM sys_user
        WHERE usrName = #{usrName}
    </delete>
    <update id="disableUser" parameterType="cn.kevin.ims.entity.User">
        UPDATE sys_user
        SET valid = 0,
        utcModify = #{utcModify},
        modifyBy = #{modifyBy}
        WHERE usrName = #{usrName}
    </update>
    <update id="recoverUser" parameterType="cn.kevin.ims.entity.User">
        UPDATE sys_user
        SET valid = 1,
            utcModify = #{utcModify},
            modifyBy = #{modifyBy}
        WHERE usrName = #{usrName}
    </update>
    <update id="updateUserInfo" parameterType="cn.kevin.ims.entity.User">
        UPDATE sys_user
        <set>
            <if test="usrPassword != null and usrPassword != ''">
                usrPassword = #{usrPassword},
            </if>
            <if test="usrNick != null and usrNick != ''">
                usrNick = #{usrNick},
            </if>
            <if test="usrPhone != null and usrPhone != ''">
                usrPhone = #{usrPhone},
            </if>
            <if test="usrEmail != null and usrEmail != ''">
                usrEmail = #{usrEmail},
            </if>
            <if test="true">
                remark = #{remark},
                utcModify = #{utcModify},
                modifyBy = #{modifyBy},
            </if>
        </set>
        WHERE usrName = #{usrName}
    </update>
    <update id="userLogin" parameterType="cn.kevin.ims.entity.User">
        UPDATE sys_user
        <set>
            <if test="lastLogin != null and lastLogin != ''">
                lastLogin = #{lastLogin},
            </if>
        </set>
        WHERE usrName = #{usrName}
    </update>
    <select id="selectByName" parameterType="String" resultType="cn.kevin.ims.entity.User">
        SELECT *
        FROM sys_user
        WHERE usrName = #{usrName}
    </select>
    <select id="selectAll" resultType="cn.kevin.ims.entity.User">
        SELECT *
        FROM sys_user
    </select>
    <select id="selectAnyParam" parameterType="cn.kevin.ims.entity.User" resultType="cn.kevin.ims.entity.User">
        SELECT *
        FROM sys_user
        WHERE (usrName = #{usrName}
        OR usrPassword = #{usrPassword}
        OR usrNick = #{usrNick}
        OR usrPhone = #{usrPhone}
        OR usrEmail = #{usrEmail}
        OR remark = #{remark}
        OR lastLogin = #{lastLogin}
        OR utcCreate = #{utcCreate}
        OR utcModify = #{utcModify}
        OR modifyBy = #{modifyBy}
        OR valid = #{valid})
    </select>
</mapper>
