<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kevin.ims.dao.UserMapper">
    <cache eviction="FIFO" readOnly="true" size="1024" flushInterval="30000"/>
    <insert id="insert" parameterType="cn.kevin.ims.model.User">
        INSERT INTO User (usrId, usrPassword, usrType, lastLogin, utcCreate, utcModify, isReal)
        VALUE (#{usrId}, #{usrPassword}, #{usrType}, #{lastLogin}, #{utcCreate}, #{utcModify}, 1)
    </insert>
    <delete id="save" parameterType="String">
        DELETE
        FROM User
        WHERE usrId = #{usrId}
    </delete>
    <update id="delete" parameterType="cn.kevin.ims.model.User">
        UPDATE User
        SET isReal = 0,
        utcModify = #{utcModify}
        WHERE usrId = #{usrId}
    </update>
    <update id="redelete" parameterType="cn.kevin.ims.model.User">
        UPDATE User
        SET isReal = 1,
            utcModify = #{utcModify}
        WHERE usrId = #{usrId}
    </update>
    <update id="update" parameterType="cn.kevin.ims.model.User">
        UPDATE User
        <set>
            <if test="usrPassword != null and usrPassword != ''">
                usrPassword = #{usrPassword},
            </if>
            <if test="usrType != null and usrType != ''">
                usrType = #{usrType},
            </if>
            <if test="true">
                utcModify = #{utcModify},
            </if>
        </set>
        WHERE usrId = #{usrId}
    </update>
    <update id="login">
        UPDATE User
        <set>
            <if test="lastLogin != null and lastLogin != ''">
                lastLogin = #{lastLogin},
            </if>
        </set>
        WHERE usrId = #{usrId}
    </update>
    <select id="select" parameterType="String" resultType="cn.kevin.ims.model.User">
        SELECT *
        FROM User
        WHERE usrId = #{usrId}
        AND isReal = 1
    </select>
    <select id="selectAll" resultType="cn.kevin.ims.model.User">
        SELECT *
        FROM User
        WHERE isReal = 1
    </select>
    <select id="selectAdmin" resultType="cn.kevin.ims.model.User">
        SELECT *
        FROM User
    </select>
    <select id="selectByAllInfo" parameterType="cn.kevin.ims.model.User" resultType="cn.kevin.ims.model.User">
        SELECT *
        FROM User
        WHERE (usrId = #{usrId}
        OR usrType = #{usrType}
        OR usrPassword = #{usrPassword}
        OR lastLogin = #{lastLogin}
        OR utcCreate = #{utcCreate}
        OR utcModify = #{utcModify})
        AND isReal = 1
    </select>
    <select id="selectAdminById" parameterType="String" resultType="cn.kevin.ims.model.User">
        SELECT *
        FROM User
        WHERE usrId = #{usrId}
    </select>
    <select id="selectGarbage" resultType="cn.kevin.ims.model.User">
        SELECT *
        FROM User
        WHERE isReal = 0
    </select>
</mapper>
